
<div class="container text-center">
  <div class="row row-cols-4" >

    <div class="col">

      <div class="card" style="width: 18rem;">
        <img src="https://rickandmortyapi.com/api/character/avatar/4.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Beth Smith</h5>

          <a href="#" class="btn btn-primary">See more</a>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="card" style="width: 18rem;">
        <img src="https://rickandmortyapi.com/api/character/avatar/742.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bruce Chutback</h5>

          <a href="#" class="btn btn-primary">See more</a>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="card" style="width: 18rem;">
        <img src="https://rickandmortyapi.com/api/character/avatar/463.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SEAL Team Rick</h5>

          <a href="#" class="btn btn-primary">See more</a>
        </div>
      </div>


    </div>

    <div class="col">

      <div class="card" style="width: 18rem;">
        <img src="https://rickandmortyapi.com/api/character/avatar/60.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Calypso</h5>

          <a href="#" class="btn btn-primary">See more</a>
        </div>
      </div>



    </div>

    <div class="col">

      <div class="card" style="width: 18rem;">
        <img src="https://rickandmortyapi.com/api/character/avatar/682.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Warlock</h5>

          <a href="#" class="btn btn-primary">See more</a>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="card" style="width: 18rem;">
        <img src="https://rickandmortyapi.com/api/character/avatar/236.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mr. Beauregard</h5>

          <a href="#" class="btn btn-primary">See more</a>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="card" style="width: 18rem;">
        <img src="https://rickandmortyapi.com/api/character/avatar/651.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Crystal Dealer</h5>

          <a href="#" class="btn btn-primary">See more</a>
        </div>
      </div>


    </div>

    <div class="col">

      <div class="card" style="width: 18rem;">
        <img src="https://rickandmortyapi.com/api/character/avatar/475.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dancer Morty</h5>

          <a href="#" class="btn btn-primary">See more</a>
        </div>
      </div>



    </div>


  </div>
</div>
























